body{
    background-color: gray;
}
.a{
        background-color: black;
        width: 100%;
        left: 0%;
        top: 0%;
        height: 75px;
        text-align: center;
        color: red;
        font-size: 50px;
}
.b{
    text-align: center;
    font-size: 24px;
    font-weight: bold;  
}
.c{
    text-align: center;
    font-size: 24px;
    font-weight: bold; 
}
.f{
    text-align: center;
    font-size: 24px;
    font-weight: bold; 
    color: red;   
}
.photo2{
    width: 250px;
    height: 300px;
}
.photo1{
    width: 325px;
    height: 350px;    
}
audio{

}